@model Car

<h2> @Model.Brand - @Model.Model </h2>

<div class="thumbnail">
    <img src="../@Model.PictureURL"/>
    <div class="caption">
        <h3 class="pull-right">Cena @Model.Price</h3>
        <h4> @Model.YearOfProduction </h4>
        <h4> @Model.Milage </h4>
        <h4> @Model.Capacity </h4>
        <h4> @Model.Power </h4>
        <p> @Model.Description </p>
    </div>


</div>