@model Car

<h2> @Model.Brand - @Model.Model </h2>

<div class="thumbnail">
    <img src="../@Model.PictureURL"/>
    <div class="caption">
        <h2 class="pull-right">Cena: @Model.Price</h2>
        <h3>Rok produkcji: @Model.YearOfProduction </h3>
        <h3> Przebieg: @Model.Milage </h3>
        <h3>Pojemność: @Model.Capacity </h3>
        <h3>Moc: @Model.Power </h3>
        <p class="text-justify"> @Model.Description </p>
    </div>


</div>